@import "../../Theme.scss";

.App-body {
  max-width: 600px;
  margin-bottom: 20px;
}

#tab {
  z-index: 9999;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  > * {
    cursor: pointer;
    text-align: center;
    flex-basis: 100%;
    padding: 10px 15px;
    background-color: $accent1;
    color: $accent3;
    font-weight: bold;
    margin: 0 1px;
    &:nth-child(1) {
      border-radius: $radius;
      margin: 0;
      color: $highlight !important;
    }
    &:nth-child(2) {
      border-radius: $radius 0 0 $radius;
      margin-right: 1px;
    }
    &:nth-child(4) {
      border-radius: 0 $radius $radius 0;
      margin-left: 1px;
    }
    &.active,
    &:hover {
      background-color: $white;
      color: $highlight;
    }
  }
  > .search {
    position: absolute;
    background-color: $white;
    width: calc(100% - 30px);
    color: $stroke;
    &.show {
      display: block;
    }
    &.hidden {
      display: none;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loader {
  margin: 20px 0;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  display: none;
  visibility: hidden;
  > svg {
    fill: $highlight;
  }
  &.loading-true {
    animation: spin 2s infinite linear;
    display: flex;
    visibility: visible;
    opacity: 1;
  }
}

#todos {
  overflow: hidden;
  margin: 20px 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.25s linear;
  opacity: 0;
  &.loading-false {
    opacity: 1;
  }
}

.alert {
  margin: 20px 0;
  padding: 10px 15px;
  border-radius: $radius;
  background-color: $white;
  justify-content: center;
  text-align: center;
  display: none;
  visibility: hidden;
  &.loading-true {
    opacity: 0;
  }
  &.true {
    display: flex;
    visibility: visible;
  }
}
