.App-body {
  max-width: 600px;
  margin-bottom: 20px;
}

#tab {
  z-index: 9999;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#tab > * {
  cursor: pointer;
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 10px 15px;
  background-color: #dcdbdc;
  color: #828282;
  font-weight: bold;
  margin: 0 1px;
}

#tab > *:nth-child(1) {
  border-radius: 8px;
  margin: 0;
  color: #0053fd !important;
}

#tab > *:nth-child(2) {
  border-radius: 8px 0 0 8px;
  margin-right: 1px;
}

#tab > *:nth-child(4) {
  border-radius: 0 8px 8px 0;
  margin-left: 1px;
}

#tab > *.active, #tab > *:hover {
  background-color: #fff;
  color: #0053fd;
}

#tab > .search {
  position: absolute;
  background-color: #fff;
  width: calc(100% - 30px);
  color: #161616;
}

#tab > .search.show {
  display: block;
}

#tab > .search.hidden {
  display: none;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#loader {
  margin: 20px 0;
  padding: 10px 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  display: none;
  visibility: hidden;
}

#loader > svg {
  fill: #0053fd;
}

#loader.loading-true {
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  opacity: 1;
}

#todos {
  overflow: hidden;
  margin: 20px 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  opacity: 0;
}

#todos.loading-false {
  opacity: 1;
}

.alert {
  margin: 20px 0;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: none;
  visibility: hidden;
}

.alert.loading-true {
  opacity: 0;
}

.alert.true {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
}
/*# sourceMappingURL=body.css.map */