@import "../../Theme.scss";

.todo-item {
  transition: 0.25s ease;
  padding: 10px 15px;
  flex-basis: 100%;
  background-color: $white;
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
  overflow: hidden;
  &:first-child {
    padding-top: 15px;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  }
  &:last-child {
    margin-bottom: 0px;
    padding-bottom: 15px;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }
  &:hover {
    cursor: pointer;
    background-color: $accent1;
  }
  > * {
    display: flex;
    align-items: center;
  }
  > .toggle-button {
    > * {
      fill: $accent3;
      cursor: pointer;
      width: 30px;
      position: absolute;
      visibility: hidden;
      transform: scale(0.8);
    }
    &.completed {
      > .completed-icon {
        fill: $highlight;
        visibility: visible;
      }
    }
    &.uncompleted {
      > .circle {
        visibility: visible;
      }
      &:hover {
        > .circle {
          opacity: 0;
        }
        > .mark-as-complete {
          fill: $highlight;
          visibility: visible;
          opacity: 1;
        }
        @media screen and (max-width: 640px) {
          > .circle {
            opacity: 1;
          }
          > .mark-as-complete {
            visibility: hidden;
          }
        }
      }
    }
  }
  > .desc {
    display: flex;
    margin-left: 40px;
    > div {
      margin: 0 20px;
      &.id {
        justify-content: center;
        color: $accent3;
      }
    }
    &.completed {
      color: $accent3;
      text-decoration: line-through;
    }
  }
}
