.todo-item {
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  padding: 10px 15px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 2px;
  overflow: hidden;
}

.todo-item:first-child {
  padding-top: 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.todo-item:last-child {
  margin-bottom: 0px;
  padding-bottom: 15px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.todo-item:hover {
  cursor: pointer;
  background-color: #dcdbdc;
}

.todo-item > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo-item > .toggle-button > * {
  fill: #828282;
  cursor: pointer;
  width: 30px;
  position: absolute;
  visibility: hidden;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.todo-item > .toggle-button.completed > .completed-icon {
  fill: #0053fd;
  visibility: visible;
}

.todo-item > .toggle-button.uncompleted > .circle {
  visibility: visible;
}

.todo-item > .toggle-button.uncompleted:hover > .circle {
  opacity: 0;
}

.todo-item > .toggle-button.uncompleted:hover > .mark-as-complete {
  fill: #0053fd;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 640px) {
  .todo-item > .toggle-button.uncompleted:hover > .circle {
    opacity: 1;
  }
  .todo-item > .toggle-button.uncompleted:hover > .mark-as-complete {
    visibility: hidden;
  }
}

.todo-item > .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
}

.todo-item > .desc > div {
  margin: 0 20px;
}

.todo-item > .desc > div.id {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #828282;
}

.todo-item > .desc.completed {
  color: #828282;
  text-decoration: line-through;
}
/*# sourceMappingURL=todo.css.map */