.App-Header {
  background-color: #fff;
  width: 100vw;
  padding: 20px 0;
  margin-bottom: 20px;
}

#header-wrapper {
  position: relative;
  max-width: 600px;
}

.logo {
  font-weight: bold;
  top: 50px;
  left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #161616;
}

.logo > span {
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
  background-color: red;
  color: #fff;
  padding: 5px;
  border-radius: 8px;
}

.logo > span:hover {
  background-color: darkred;
  color: #fff;
}

#search-wrapper {
  max-width: 600px;
  margin: 0 auto;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  height: auto;
}

#search-wrapper > .tip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
  margin: 20px 0 0 0;
  font-size: 14px;
}

#search-wrapper > .tip > span {
  font-weight: bold;
  border-radius: 8px;
  background-color: #dcdbdc;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#search-wrapper > .tip > span > svg {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
}

@media screen and (max-width: 600px) {
  #search-wrapper > .tip {
    display: none;
  }
}

#search-box {
  position: relative;
  margin: 20px 0 0 0;
}

#search-box > input {
  text-align: center;
  width: calc(100% - 20px);
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #dcdbdc;
  background-color: transparent;
  color: #161616;
  padding: 15px 10px;
}

#search-box > input:focus {
  outline: none;
}

#search-box > input:focus::-webkit-input-placeholder {
  color: transparent;
}

#search-box > input:focus:-ms-input-placeholder {
  color: transparent;
}

#search-box > input:focus::-ms-input-placeholder {
  color: transparent;
}

#search-box > input:focus::placeholder {
  color: transparent;
}

#search-box > div {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform-origin: center center 0px;
          transform-origin: center center 0px;
  -webkit-transform: scale(0.7) translateX(calc(-50% - 5px)) translateY(calc(-50% - 5px));
          transform: scale(0.7) translateX(calc(-50% - 5px)) translateY(calc(-50% - 5px));
  width: 20px;
  visibility: hidden;
}

#search-box > div.visible {
  visibility: visible;
}

#search-result {
  margin: 20px 0;
  margin-bottom: 0;
  visibility: hidden;
  height: 0;
  opacity: 0;
}

#search-result.visible {
  height: auto;
  opacity: 1;
  visibility: visible;
}
/*# sourceMappingURL=header.css.map */