@import "../../Theme.scss";

.App-Header {
  background-color: $white;
  width: 100vw;
  padding: 20px 0;
  margin-bottom: 20px;
}

#header-wrapper {
  position: relative;
  max-width: 600px;
}

.logo {
  font-weight: bold;
  top: 50px;
  left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $stroke;
  > span {
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    background-color: red;
    color: $white;
    padding: 5px;
    border-radius: $radius;
    &:hover {
      background-color: darkred;
      color: $white;
    }
  }
}

#search-wrapper {
  max-width: 600px;
  margin: 0 auto;
  transition: 0.5s ease;
  height: auto;
  > .tip {
    display: flex;
    align-items: center;
    font-weight: normal;
    margin: 20px 0 0 0;
    font-size: 14px;
    > span {
      font-weight: bold;
      border-radius: $radius;
      background-color: $accent1;
      padding: 5px;
      display: flex;
      > svg {
        transform: scale(0.4);
      }
    }
  }
  @media screen and (max-width: 600px) {
    > .tip {
      display: none;
    }
  }
}
#search-box {
  position: relative;
  margin: 20px 0 0 0;
  > input {
    text-align: center;
    width: calc(100% - 20px);
    //border-radius: $radius;
    border-width: 0 0 1px 0;
    border-bottom: 1px solid $accent1;
    background-color: transparent;
    color: $stroke;
    padding: 15px 10px;
    &:focus {
      outline: none;
      &::placeholder {
        color: transparent;
      }
    }
  }
  > div {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform-origin: center center 0px;
    transform: scale(0.7) translateX(calc(-50% - 5px))
      translateY(calc(-50% - 5px));
    width: 20px;
    visibility: hidden;
    &.visible {
      visibility: visible;
    }
  }
}

#search-result {
  //transition: 0.5s ease;
  margin: 20px 0;
  margin-bottom: 0;
  visibility: hidden;
  height: 0;
  opacity: 0;
  &.visible {
    //min-height: 200px;
    height: auto;
    opacity: 1;
    visibility: visible;
  }
}
