body {
  margin: 0;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
  color: #161616;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  height: 100vh;
}

.fixed {
  position: fixed;
}

.text-l {
  font-size: 28px;
}

.text-m {
  font-size: 16px;
}

.text-s {
  font-size: 14px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 1160px) {
  .container {
    width: calc(100% - 60px);
    margin: 0 auto;
  }
  .text-l {
    font-size: 24px;
  }
}

.tip {
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.tip > span {
  font-weight: bold;
  border-radius: 8px;
  margin: 0 10px;
  background-color: #fff;
  padding: 5px;
}

.fade {
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

.fade-entering {
  opacity: 1;
}

.fade-entered {
  opacity: 1;
}

.fade-exiting {
  opacity: 0;
}

.fade-exited {
  opacity: 0;
}
/*# sourceMappingURL=App.css.map */