// COLOR
@import "./Theme.scss";

body {
  margin: 0;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $main;
  color: $stroke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100vh;
}

.fixed {
  position: fixed;
}

.text-l {
  font-size: 28px;
}

.text-m {
  font-size: 16px;
}

.text-s {
  font-size: 14px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 1160px) {
  .container {
    width: calc(100% - 60px);
    margin: 0 auto;
  }
  .text-l {
    font-size: 24px;
  }
}

.tip {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  > span {
    font-weight: bold;
    border-radius: $radius;
    margin: 0 10px;
    background-color: $white;
    padding: 5px;
  }
}

.fade {
  transition: 0.25s ease;
}

.fade-entering {
  opacity: 1;
}
.fade-entered {
  opacity: 1;
}
.fade-exiting {
  opacity: 0;
}
.fade-exited {
  opacity: 0;
}
